* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-logo {
  width: 120px;
  height: 40px;
}

.app-container {
  background-color: #9ba9eb;
  height: 100vh;
}

.sub-div1 {
  background-color: #5763a5;
}

.sub-div1-image2 {
  width: 420px;
  height: 420px;
}
